span.username {
    font-size: 18px;
    color: #5371FF;
}

.title-links:hover {
    color: #5371FF;
}

.avatar:hover {
	background-color: #FFFFFF;
	box-shadow: 0px 0px 4px 4px #cb6ce6;
}

.nameLink:hover{
    color: #5371FF;
}